<html>
<head>
  <title><%= car.make %> <%= car.model %></title>
</head>
<body>
  <h1><%= car.make %> <%= car.model %></h1>
  <p>Year: <%= car.year %></p>
  <p>Price: $<%= car.price %></p>
  <div id="car-container">
    <% car.images.forEach(imageId => { %>
      <img src="<%= imageId %>" alt="<%= car.make %> <%= car.model %>">
    <% }); %>
  </div>
</body>
</html>